<div id="rooms">
    <form class="form-inline " method="GET" action="/rooms">
        <input class="form-control" name="search" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-success " type="submit">Search</button>
    </form>

    {{#each rooms}}
    <a class="container" href="/rooms/{{_id}}">
        <div class='name'>
            <p>{{name}}</p>
        </div>
        <div>
            <span class='description'>{{description}}</span>
        </div>
    </a>
    {{/each}}
</div>


<style>
    /* Chat containers */
    body {
        background-color: rgb(233, 233, 233);
        margin: 0;
    }

    .form-inline {
        width: 400px;
        margin-bottom: 20px;
    }

    .form-control {
        width: 280px !important;
        margin-right: 20px;
    }

    .btn-group {
        width: 400px !important;
        margin-bottom: 20px;
    }

    .form-group {
        width: 100%;
    }

    .dropdown-menu {
        width: 400px !important;
        margin-top: 10px;
        padding: 10px;
    }

    .custom-select:active {
        z-index: 100;
    }

    .btn-outline-success {
        width: 100px;
    }

    #rooms {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 400px;
        margin: 0 auto;
        padding-top: 30px;
    }

    .container {
        text-decoration: none;
        width: 100%;
        border: 2px solid #9e9e9e;
        background-color: #d6d6d6;
        border-radius: 5px;
        padding: 10px;
        margin: 0;
        margin-bottom: 20px;
        color: rgb(0, 0, 0)
    }

    .container:hover {
        text-decoration: none;
        color: rgb(99, 90, 90)
    }

    .name {
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px dashed rgb(153, 152, 152);
    }

    .description {
        margin-top: 10px;
        font-style: oblique;
        color: rgb(124, 124, 124);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    p {
        text-align: center;
    }

    /* Darker chat container */
    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }

    /* Clear floats */
    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    /* Style images */
    .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

    /* Style the right image */
    .container img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }

    /* Style time text */
    .time-right {
        float: right;
        color: #aaa;
    }

    /* Style time text */
    .time-left {
        float: left;
        color: #999;
    }
</style>